<div class="container">
    <h1>Dashboard</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Total de Libros</div>
          <div class="card-body">
            <h5 class="card-title">{{ totals.totalLibros }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
          <div class="card-header">Total de Autores</div>
          <div class="card-body">
            <h5 class="card-title">{{ totals.totalAutores }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-warning mb-3">
          <div class="card-header">Total de Préstamos</div>
          <div class="card-body">
            <h5 class="card-title">{{ totals.totalPrestamos }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  